* {
  box-sizing: border-box;
}
/*The following sets the margin of the body to 0 */
body {
  margin: 0px;
}
/*The following sets background color in header and footer*/
header, footer {
  background: black;
}

/*The following stops the black bar in the header from disappearing and creates space inbetween the heading h1 and the navigational links */
header {
  display: flex;
  justify-content: space-between;
}

/*The following makes the heading h1 align to the left and the navigational links align to the right */
.heading {
  float: left;
}

.nav-links {
  float: right;
}
/*The following sets font properties, padding, and margins for the first heading in the header*/
h1 {
  font-family: 'Dawning of a New Day', cursive;
  color: #9CBCD9;
  font-size: 40px;
  padding: 25px 0px 25px 25px;
  margin: 0px;
  
}
/*The following edits the text for the article headings*/
h2 {
font-family: 'Architects Daughter', cursive;
text-align: center;
}
/*All other text on the page has the same font*/
h3, p, ul, ol {
  font-family: Helvetica, Arial, sans-serif;
}

/*This sets font settings and padding for the navigational links*/
nav {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 50px 25px 25px 0px;
  text-align: right;
}
/*This sets the color properties for all the links on the page*/
a:link {color: #697C8C}
a:visited {color: #546b25;}
a:hover {color: #9CBCD9}
a:active {color: rgb(32, 111, 160)}

/*This sets the background color of the main content box*/
main {
  background-color: rgba(255, 255, 255, 0.7);
}
/*This sets the main content so that the text all remains centered on the page, rather than spread across the entire page*/
.main-content, .introduction {
  max-width: 750px;
  margin: 0px auto;
  padding: 20px;
}
/*This sets a background image on the first section of the website*/
.first-section {
  background-image: url("images/boston.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  text-align: center;
}
/*This makes the first horizontal rule fall directly under the background image*/
.hr1 {
  margin-top: 0px;
}
/*This centers the picture of me*/
.center {
  text-align: center
}
/*This makes the picture of me a bit rounded and adds a border*/
.rounded {
  border-radius: 5%; 
  border: 1px solid grey
}

/*This makes the footer a specific size and gives some padding to the text so it is not right at the top of the footer box. It also changes the font color and makes the font appear in italics.*/
footer {
  height: 100px;
  padding: 10px;
  font-style: italic;
  color:white;
  text-align: center;
}

/*This makes the horizontal ruler solid black*/
hr {
  background-color: black;
  border: 0.5px solid black;
}